* {
    box-sizing: border-box;
}
html,
body {
    padding: 0;
    margin: 0;
}

body {
    font-size: 16px;
    font-family: "Noto Sans", "Droid Sans", Roboto, Cantarell, "Segoe UI", Arial, Meiryo, Oxygen, Ubuntu,
        "Helvetica Neue", Helvetica, "Noto Color Emoji", sans-serif;
    line-height: 1.5;
    letter-spacing: 1px;
    color: #222;
    background-color: #e1e1e1;
}

a,
a:visited {
    text-decoration: none;
    color: #3d9141;
}
a:hover,
a:active {
    text-decoration: underline;
}

header {
    color: white;
    background-color: #333;
    height: 52px;
    display: flex;
    align-items: center;
    justify-content: start;
}
header > h1 {
    font-size: 1rem;
    margin: 0 0.5rem;
    font-weight: bold;
    line-height: 1;
    overflow: hidden;
    flex: 1 1 auto;
    text-align: center;
}
header > img[alt="Element"] {
    height: calc(100% - 4px);
    margin: 0 0 0 2px;
    filter: grayscale(100%) contrast(1000%);
}
@media screen and (min-width: 520px) {
    header > h1 {
        text-align: left;
    }
}

header a,
header a:visited {
    display: block;
    padding: 0 0.5rem;
    line-height: 52px;
    border: none;
    color: white;
    text-align: center;
    text-decoration: none;
    cursor: pointer;
    transition: 0.1s background-color ease;
}
header a:hover,
header a:active {
    text-decoration: none;
    background-color: #555;
}
header a.return,
header a.return:visited {
    background-color: #4caf50;
}
header a.return:hover,
header a.return:active {
    background-color: #71bb47;
    color: white;
}

img {
    max-width: calc(100% - 10px);
    height: auto;
}

.container {
    margin: 0 auto;
    padding: 10px;
    max-width: 1000px;
}

article {
    color: black;
    padding: 1rem;
    background-color: white;
}

article h1 {
    margin: 0;
}

article ul,
article ol {
    padding-left: 2em;
}

img.screenshot {
    border-radius: 5px;
    box-shadow: 2px 2px 3px #999;
}

details,
header {
    box-shadow: 0 0.1rem 1rem -0.5rem rgba(0, 0, 0, 0.4);
}

details {
    display: block;
    margin: 0 auto 0.5rem;
    border-radius: 5px;
    color: white;
    overflow: hidden;
    word-wrap: break-word;
    word-break: break-all;
}

details > .info {
    background-color: white;
    color: black;
    padding: 1rem;
    display: grid;
    align-items: center;
    grid-template-columns: minmax(max-content, 33%) 1fr;
    gap: 0.5rem;
}

details > .info > * {
    line-height: 33px;
}

summary {
    padding: 1rem;
    display: block;
    background: #333;
    padding-left: 2.2rem;
    position: relative;
    cursor: pointer;
    transition: 0.1s background-color ease;
}

summary:hover {
    background-color: #444;
}

summary:before {
    display: block;
    content: "";
    border-width: 0.4rem;
    border-style: solid;
    border-color: transparent transparent transparent #fff;
    position: absolute;
    top: 1.4rem;
    left: 1rem;
    transform: rotate(0);
    transform-origin: 0.2rem 50%;
    transition: 0.25s transform ease;
}

details[open] > summary:before {
    transform: rotate(90deg);
}

details summary::-webkit-details-marker {
    display: none;
}
details.howto {
    word-break: normal;
}
details.howto > summary {
    background-color: #4caf50;
}
details.howto > summary:hover {
    background-color: #71bb47;
}

input[type="text"] {
    position: relative;
    left: -5px;
    font-size: inherit;
    width: 100%;
    padding: 4px;
    margin: 0;
    box-sizing: border-box;
    border: 1px solid #222;
    color: #222;
    border-radius: 2px;
    background-color: #f1f1f1;
}

input[type="text"]:focus {
    border: 1px solid #48772d;
    outline: none;
}

footer {
    background-color: #fefefe;
    text-align: center;
    padding: 14px 0;
}
