name: Scheduled List Update

on:
  schedule: [ { cron: "0 */12 * * *" } ]
  push:
    branches:
    - main
  pull_request:
    branches:
    - main
  workflow_dispatch:

jobs:
  update_list_job:
    runs-on: ubuntu-latest
    name: Update Matrix homeservers
    steps:
    - uses: actions/checkout@v6

    - uses: actions/setup-python@v6
      with:
        python-version: '3.13'
        cache: 'pip' # caching pip dependencies

    - run: bash -e ./run.sh
      name: Run Shell Script
      id: shell_script_run

    - uses: stefanzweifel/git-auto-commit-action@v4
      name: Commit changes
      with:
        commit_message: Update Matrix homeservers
        commit_author: GitHub Actions <actions@github.com>
